//
//  Planetary.debug.xcconfig
//  Planetary
//
//  Created by Martin Dutra on 2/17/20.
//  Copyright © 2020 Verse Communications Inc. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-Planetary/Pods-Planetary.debug.xcconfig"
#include "Shared.debug.xcconfig"

PRODUCT_NAME = Planetary
PRODUCT_BUNDLE_IDENTIFIER = com.planetary.ios

SWIFT_OBJC_BRIDGING_HEADER = ${PROJECT_DIR}/Source/GoBot/GoBotBridge.h

// If you change any invitations here you should track them here too: https://github.com/planetary-social/infrastructure/wiki/Pub-Invitation-Tracking

PUB_ONE = one.planetary.pub:8008:@CIlwTOK+m6v1hT2zUVOCJvvZq7KE/65ErN6yA2yrURY=.ed25519~KVvak/aZeQJQUrn1imLIvwU+EVTkCzGW8TJWTmK8lOk=
PUB_TWO = two.planetary.pub:8008:@7jJ7oou5pKKuyKvIlI5tl3ncjEXmZcbm3TvKqQetJIo=.ed25519~8pETEamsgecH32ry4bj7sr7ofXtUbeOCG1qq4C7szHY=
PUB_THREE = three.planetary.pub:8008:@LQ8HBiEinU5FiXGaZH9JYFGBGdsB99mepBdh/Smq3VI=.ed25519~tEXSFgAGmGbgb6+lWv5LGNdSWeM5cRjLITnGVrJFfYg=
PUB_FOUR = four.planetary.pub:8008:@5KDK98cjIQ8bPoBkvp7bCwBXoQMlWpdIbCFyXER8Lbw=.ed25519~e9ZRXEw0RSTE6FX8jOwWV7yfMRDsAZkzlhCRbVMBUEc=

BETELGEUSE = 35.226.200.168:8008:@MhYSofIkk+oig3gb86ufnZ/KSX2K+2KDPVIxf4HppMM=.ed25519~ZOcCXy7q7a0AiSWdrg0s/S91vCmclIpjnr2JqM3NwA0=
ANTARES = 35.222.87.248:8008:@yFdlC9nYGgBNoPeMl2kC/zimoNnuSp/YFSmYda2SJBY=.ed25519~psZMLk1SPUa1YxLq07N3aVXFECpsOfmXQqXNPaaDMwo=
RIGEL = 35.222.71.220:8008:@6OK6Z0x5hIVR4yHKFjqwMejlfQUDQUTBW513pn4INIM=.ed25519~EiEvpAlZYg05NYVoZ7QzCY6fgp6xaLWcWT2/56yecrA=
PLEIADES = 34.68.66.228:8008:@CCX4V0cOscQU4mMz0PbbB7IIJQDcZc1XFCQaQMHUDsI=.ed25519~92RD5VdmAjthKYK0yXfSpE2yJMwp0JUjeBSLtxiIzn0=
CONSTELLATION = ${PUB_ONE} ${PUB_TWO} ${PUB_THREE} ${PUB_FOUR}

CRYPTO = crypto.planetary.pub:8008:@CBaNGA3MPZHPKo4gvrZsTCCV3DUgydmPnwK0UDRRbqQ=.ed25519~sGQ1aP56Kq5XhzI8KK7njn+Dexxggr3IVRt0ro5v7NA=
FLOSS = floss.planetary.pub:8008:@uHqyTLo/JwapDh+ryXKe0VyBMS7eqt0YEKwvUathiS8=.ed25519~Jukp9cJPKm48ZRJjZniL8HdD/shj8LxpCDOcm8vZq0g=
SCUTTLEUS = scuttle.us:8008:@WqcuCOIpLtXFRw/9vOAQJti8avTZ9vxT9rKrPo8qG6o=.ed25519~/ZUi9Chpl0g1kuWSrmehq2EwMQeV0Pd+8xw8XhWuhLE=
MONERO = xmr-pub.net:8008:@5hTpvduvbDyMLN2IdzDKa7nx7PSem9co3RsOmZoyyCM=.ed25519~vQU+r2HUd6JxPENSinUWdfqrJLlOqXiCbzHoML9iVN4=
GARDENING = gardening.planetary.pub:8008:@1ZA2K/bPs41o4EJ1gAVVNGGj0WAB6laJC2AOJbdBrmM=.ed25519~eQGIoibQ6jMpDAFeIC6X3GiaihXIZUn3RxVmfb+AEIg=
ESPANOL = espanol.planetary.pub:8008:@KpZ49dSM+wr73t8peJQWBLjAlENLG9yLdVBNv7PgatI=.ed25519~s7GLx7uJSllwh4HVB0v7DOY4f9YO1kPw7RvjGDnXe7I=
POETRY = poetry.planetary.pub:8008:@FBH3fASAJ3aJtzHL7nDg86HiuCjAKSljzXAIhlZqnFw=.ed25519~wt05rBzwx7XelTL4DND+4Ne89LPPzpajZaXhI//MMn8=
FUNGI = fungi.planetary.pub:8008:@ULtTfklxd39BtkQs97OwKRm1vncQHc/foySwTPErkwg=.ed25519~u986XUj7bYdRNag6tfNdfSQmvlsX1GihwecfZHjubH8=
COOKING = cooking.planetary.pub:8008:@8oxL9ddFp+y+EJx4HfYsnHKUUlscH0bgng4QJn1g5dQ=.ed25519~h0DFZbED9II5UuxGumlpIFw7fPvQjQVTCTOgp/G1NFI=
COMMUNITIES = ${CRYPTO} ${FLOSS} ${SCUTTLEUS} ${MONERO} ${GARDENING} ${ESPANOL} ${POETRY} ${FUNGI} ${COOKING}

PLANETARY = @l1sGqWeCZRA99gN+t9sI6+UOzGcHq3KhLQUYEwb4DCo=.ed25519
PLANETARY_SYSTEM = ${PLANETARY}
