//
//  Planetary.debug.xcconfig
//  Planetary
//
//  Created by Martin Dutra on 2/17/20.
//  Copyright © 2020 Verse Communications Inc. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-Planetary/Pods-Planetary.debug.xcconfig"
#include "Shared.debug.xcconfig"

PRODUCT_NAME = Planetary
PRODUCT_BUNDLE_IDENTIFIER = com.planetary.ios

SWIFT_OBJC_BRIDGING_HEADER = ${PROJECT_DIR}/Source/GoBot/GoBotBridge.h

// If you change any invitations here you should track them here too: https://github.com/planetary-social/infrastructure/wiki/Pub-Invitation-Tracking

PUB_ONE = one.planetary.pub:8008:@CIlwTOK+m6v1hT2zUVOCJvvZq7KE/65ErN6yA2yrURY=.ed25519~gkPjmojoEv5xNRcCl/BzF1reod2pnh+ciS1E+Tr6XOc=
PUB_TWO = two.planetary.pub:8008:@7jJ7oou5pKKuyKvIlI5tl3ncjEXmZcbm3TvKqQetJIo=.ed25519~hLsEIUnGlGhZ02p946sdGA5DkeGLYZU67Of4kFtrEdc=

PLANETARY_SYSTEM_PUBS = ${PUB_ONE} ${PUB_TWO} ${PUB_THREE} 
// ${PUB_FOUR} - disabled due to being down - nov 5th 2022 - rabble

TEST_PUB_ONE = dev.planetary.pub:8008:@IzuvGuH1r29Gjg4aBq+C0ke1b5t+Tk9tmSZfZIB9XFE=.ed25519~C7roPCA8eU59HvstGS/sGV06cGUYD26Tm/J8jtUo2jw=
TEST_NETWORK_PUBS = ${TEST_PUB_ONE}

PLANETARY = @l1sGqWeCZRA99gN+t9sI6+UOzGcHq3KhLQUYEwb4DCo=.ed25519
PLANETARY_SYSTEM = ${PLANETARY}

ALIAS_SERVER_ONE = Planetary Alias::net:planetary.name:8008~shs:42ACINb4+Qjd1kPYYpJ67V16CTHIWp93cjd1gDX7FKY=::icon-planetary-3::planetaryRoomToken
PLANETARY_COMMUNITY_ALIAS_SERVERS = ${ALIAS_SERVER_ONE}||

TEST_ALIAS_SERVER_ONE = Lorentz Test Room::net:test-room.lorentz.is:8008~shs:mxAUHhdpkdu7Lg6uB4T1gWcvAD3ugdhNiUb8K37YEh4=::icon-test-room-lorentz::lorentzRoomToken
TEST_PLANETARY_COMMUNITY_ALIAS_SERVERS = ${TEST_ALIAS_SERVER_ONE}||
