//
//  Shared.debug.xcconfig
//  Planetary
//
//  Created by Martin Dutra on 3/2/20.
//  Copyright © 2020 Verse Communications Inc. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

AUTHY_TOKEN = XMxnJoZc1aBN9E826r6zmDe91GePaBYE

// Optionally add this key if you want to use MixpanelAnalytics implementation
MIXPANEL_TOKEN =

// Optionally add this key if you want to use BugsnagCrashReporting implementation
BUGSNAG_TOKEN =

// Optionally add these keys if you want to use ZendeskSupport implementation
ZENDESK_APP_ID =
ZENDESK_CLIENT_ID =

PUSH_HOST =
PUSH_TOKEN =
PUSH_ENVIRONMENT =
PUB_HOST =
PUB_TOKEN =

VERSE_HOST =
VERSE_TOKEN =
VERSE_DIRECTORY_PATH =
VERSE_BLOB_TOKEN =

PLANETARY_BEARER_TOKEN = 36fd4a063ebe73f0c5d69f6cbf4a6e59b39d9a0ea14c01ce8b6dc9a474c964a2abb055f04c442530445925d842dbb12fbe9d

DEFAULT_NETWORK_NAME = SSB
DEFAULT_NETWORK_KEY = 1KHLiKZvAvjbY1ziZEHMXawbCEIM6qwjCDm3VYRan/s=

DEVELOPMENT_NETWORK_NAME = Verse
DEVELOPMENT_NETWORK_KEY = VersVersVmVyc2UgQ29tbXVuaWNhdGlvbnMsIEluYy4=
DEVELOPMENT_NETWORK_HMAC = e1NKw7/hh6xccFvxUc7DQtKKEFoPS2Te4sP+3oQv5AQ=

TESTING_NETWORK_NAME = Planetary TestNet
TESTING_NETWORK_KEY = AHSrRkNQlQbJP3FyKxvBUI02LI0OdixEl0pYFTUHrMw=
TESTING_NETWORK_HMAC = d8mXyv5OAjxTLnPIAnXUk7TjjALroyfdJn+0RUGHxY4=

PLANETARY_NETWORK_NAME = Planetary
PLANETARY_NETWORK_KEY = ci7xtn85ZYYxGegtWHaSk9LRKtH/PsxmBuVfC0vWYAk=
PLANETARY_NETWORK_HMAC = jKCBtO4iVe/j/4rL65yxIxcMu2X88gcU0iChF7GFLH4=
