//
//  UnitTests.debug.xcconfig
//  Planetary
//
//  Created by Martin Dutra on 2/17/20.
//  Copyright © 2020 Verse Communications Inc. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-UnitTests/Pods-UnitTests.debug.xcconfig"
#include "Shared.debug.xcconfig"

SWIFT_OBJC_BRIDGING_HEADER = ${PROJECT_DIR}/Source/GoBot/GoBotBridge.h
OTHER_SWIFT_FLAGS = $(inherited) -D UNIT_TESTS

CONSTELLATION =

PLANETARY_SYSTEM =

TEST_PUB_ONE = 198.199.90.207:8008:@2xO+nZ1D46RIc6hGKk1fJ4ccynogPNry1S7q18XZQGk=.ed25519~9qgQcC9XngzFLV2A9kIOyVo0q8P+twN6VLKl4DBOgsQ=
TEST_NETWORK_PUBS = ${TEST_PUB_ONE}

ALIAS_SERVER_ONE = Planetary Alias::net:planetary.name:8008~shs:42ACINb4+Qjd1kPYYpJ67V16CTHIWp93cjd1gDX7FKY=::icon-planetary-3::planetaryRoomToken
ALIAS_SERVER_TWO = This Week in Tech::net:twit.planetary.name:8008~shs:fs26fDL6HzqnHoc2Ekq40AD0ETdf/D3Ze5oAIiEn8sM=::icon-twit::twitRoomToken
ALIAS_SERVER_THREE = Lorentz Test Room::net:test-room.lorentz.is:8008~shs:mxAUHhdpkdu7Lg6uB4T1gWcvAD3ugdhNiUb8K37YEh4=::icon-test-room-lorentz::lorentzRoomToken
PLANETARY_COMMUNITY_ALIAS_SERVERS = ${ALIAS_SERVER_ONE}||${ALIAS_SERVER_TWO}||${ALIAS_SERVER_THREE}

TEST_ALIAS_SERVER_ONE = Planetary Alias::net:planetary.name:8008~shs:42ACINb4+Qjd1kPYYpJ67V16CTHIWp93cjd1gDX7FKY=::icon-planetary-3::planetaryRoomToken
TEST_ALIAS_SERVER_TWO = This Week in Tech::net:twit.planetary.name:8008~shs:fs26fDL6HzqnHoc2Ekq40AD0ETdf/D3Ze5oAIiEn8sM=::icon-twit::twitRoomToken
TEST_ALIAS_SERVER_THREE = Lorentz Test Room::net:test-room.lorentz.is:8008~shs:mxAUHhdpkdu7Lg6uB4T1gWcvAD3ugdhNiUb8K37YEh4=::icon-test-room-lorentz::lorentzRoomToken
TEST_PLANETARY_COMMUNITY_ALIAS_SERVERS = ${TEST_ALIAS_SERVER_ONE}||${TEST_ALIAS_SERVER_TWO}||${TEST_ALIAS_SERVER_THREE}
