//
//  UnitTests.debug.xcconfig
//  Planetary
//
//  Created by Martin Dutra on 2/17/20.
//  Copyright © 2020 Verse Communications Inc. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-UnitTests/Pods-UnitTests.debug.xcconfig"
#include "Shared.debug.xcconfig"

SWIFT_OBJC_BRIDGING_HEADER = ${PROJECT_DIR}/Source/GoBot/GoBotBridge.h
OTHER_SWIFT_FLAGS = $(inherited) -D UNIT_TESTS

CONSTELLATION =

PLANETARY_SYSTEM =

COMMUNITIES = 

TEST_PUB_ONE = 198.199.90.207:8008:@2xO+nZ1D46RIc6hGKk1fJ4ccynogPNry1S7q18XZQGk=.ed25519~9qgQcC9XngzFLV2A9kIOyVo0q8P+twN6VLKl4DBOgsQ=
TEST_NETWORK_PUBS = ${TEST_PUB_ONE}
