<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>posthog</key>
	<string></string>
	<key>bugsnag</key>
	<string></string>
	<key>push</key>
	<string></string>
	<key>blob</key>
	<string></string>
	<key>pub</key>
	<string></string>
	<key>zendeskAppID</key>
	<string></string>
	<key>zendeskClientID</key>
	<string></string>
	<key>planetaryCloudAPISecret</key>
	<string></string>
</dict>
</plist>
