//
//  Planetary.debug.xcconfig
//  Planetary
//
//  Created by Martin Dutra on 2/17/20.
//  Copyright © 2020 Verse Communications Inc. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-Planetary/Pods-Planetary.debug.xcconfig"
#include "Shared.debug.xcconfig"

PRODUCT_NAME = Planetary
PRODUCT_BUNDLE_IDENTIFIER = com.planetary.ios

SWIFT_OBJC_BRIDGING_HEADER = ${PROJECT_DIR}/Source/GoBot/GoBotBridge.h

BETELGEUSE = 34.70.254.88:8008:@LWh8AZgVQSuVneiAZsIRaKoSzTnYVli3SHgBFSMAE6Y=.ed25519~0uH+kj+hfUqpHens8n+d02zaGG1mNdtyw+8KNjywfXk=
ANTARES = 35.222.87.248:8008:@yFdlC9nYGgBNoPeMl2kC/zimoNnuSp/YFSmYda2SJBY=.ed25519~psZMLk1SPUa1YxLq07N3aVXFECpsOfmXQqXNPaaDMwo=
RIGEL = 35.222.71.220:8008:@6OK6Z0x5hIVR4yHKFjqwMejlfQUDQUTBW513pn4INIM=.ed25519~EiEvpAlZYg05NYVoZ7QzCY6fgp6xaLWcWT2/56yecrA=
PLEIADES = 34.68.66.228:8008:@CCX4V0cOscQU4mMz0PbbB7IIJQDcZc1XFCQaQMHUDsI=.ed25519~92RD5VdmAjthKYK0yXfSpE2yJMwp0JUjeBSLtxiIzn0=
CONSTELLATION = ${BETELGEUSE} ${ANTARES} ${RIGEL} ${PLEIADES}

PLANETARY = @oeNoy1RIArVdMdk8ndeoKbAKuU8b56VgxlYP5y8b9Ic=.ed25519
PLANETARY_SYSTEM = ${PLANETARY}
