<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dmWSXY</key>
	<string>&amp;dmWSXYgdf274mdAHddOFnKpuO/pg0Zhh5s5LQz3IuR8=.sha256</string>
	<key>R14x5a5</key>
	<string>&amp;R14x5a55lohnjAJ1jjVb2lq8KI1iARDHTmvBv17bcDY=.sha256</string>
	<key>QBHOjTi</key>
	<string>&amp;QBHOjTiUIH9qoW2jyHRupxEjIOTZBkcr+sNu07VBa4U=.sha256</string>
	<key>XD6l9T+dbtFqlZDbqFHf5Nixo8V7lE8VseArbpZbBwU</key>
	<string>&amp;XD6l9T+dbtFqlZDbqFHf5Nixo8V7lE8VseArbpZbBwU=.sha256</string>
	<key>byA+y+gkCxLzF3vK3wW+RgLtsVip+ctE3xGAMDjTe8</key>
	<string>&amp;byA+y+gkCxLzF3vK3wW+R/gLtsVip+ctE3xGAMDjTe8=.sha256</string>
	<key>hH+8apK7YrPInrrefyojVwSB7T4Erp82rjE4SNhbl1k</key>
	<string>&amp;hH+8apK7YrPInrrefyojVwSB7T4Erp82rjE4SNhbl1k=.sha256</string>
	<key>nmqgPl0O9JUzKd1iPERLtwomWho8Q0l5z6kA7iBZE</key>
	<string>&amp;nmqgPl0O9J/UzKd1iPERLtwomWho8Q0l5/z6kA7iBZE=.sha256</string>
	<key>u3vkSrP5I6Exj3TD1Ngg4ldhV+YbpzoI4iNIjKKz8</key>
	<string>&amp;u/3vkSrP5I6Exj3TD1/Ngg4ldhV+YbpzoI4iNIjKKz8=.sha256</string>
	<key>hZHFLmckfJGG2+hRhIuNWSdEodSs2G+v1VjNaWE</key>
	<string>&amp;hZHFLmckfJGG2+hRhIuNWSdEodSs2G+v1VjNaWE/fn0=.sha256</string>
	<key>0a1FdLyNK9SQFjQ0zV1ZyB61ozqzABALz6fEnL2EHsw</key>
	<string>&amp;0a1FdLyNK9SQFjQ0zV1ZyB61ozqzABALz6fEnL2EHsw=.sha256</string>
	<key>EFd9yQGM3+qzFBKtP9PNzdYXHe9MC4xy1x0zC1pHYKc</key>
	<string>&amp;EFd9yQGM3+qzFBKtP9PNzdYXHe9MC4xy1x0zC1pHYKc=.sha256</string>
</dict>
</plist>
