<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dmWSXY</key>
	<string>&amp;dmWSXYgdf274mdAHddOFnKpuO/pg0Zhh5s5LQz3IuR8=.sha256</string>
	<key>R14x5a5</key>
	<string>&amp;R14x5a55lohnjAJ1jjVb2lq8KI1iARDHTmvBv17bcDY=.sha256</string>
	<key>QBHOjTi</key>
	<string>&amp;QBHOjTiUIH9qoW2jyHRupxEjIOTZBkcr+sNu07VBa4U=.sha256</string>
</dict>
</plist>
