<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PLMixpanelToken</key>
	<string>$(MIXPANEL_TOKEN)</string>
	<key>PLAuthyToken</key>
	<string>$(AUTHY_TOKEN)</string>
	<key>PLZendeskAppId</key>
	<string>$(ZENDESK_APP_ID)</string>
	<key>PLZendeskClientId</key>
	<string>$(ZENDESK_CLIENT_ID)</string>
	<key>PLPushHost</key>
	<string>$(PUSH_HOST)</string>
	<key>PLPushToken</key>
	<string>$(PUSH_TOKEN)</string>
	<key>PLPushEnvironment</key>
	<string>$(PUSH_ENVIRONMENT)</string>
	<key>PLPubHost</key>
	<string>$(PUB_HOST)</string>
	<key>PLPubToken</key>
	<string>$(PUB_TOKEN)</string>
	<key>PLVerseHost</key>
	<string>$(VERSE_HOST)</string>
	<key>PLConstellation</key>
	<string>$(CONSTELLATION)</string>
	<key>PLPlanetarySystem</key>
	<string>$(PLANETARY_SYSTEM)</string>
	<key>PLVerseToken</key>
	<string>$(VERSE_TOKEN)</string>
	<key>PLVerseDirectoryPath</key>
	<string>$(VERSE_DIRECTORY_PATH)</string>
	<key>PLDefaultNetworkName</key>
	<string>$(DEFAULT_NETWORK_NAME)</string>
	<key>PLDefaultNetworkKey</key>
	<string>$(DEFAULT_NETWORK_KEY)</string>
	<key>PLDevelopmentNetworkName</key>
	<string>$(DEVELOPMENT_NETWORK_NAME)</string>
	<key>PLDevelopmentNetworkKey</key>
	<string>$(DEVELOPMENT_NETWORK_KEY)</string>
	<key>PLDevelopmentNetworkHMAC</key>
	<string>$(DEVELOPMENT_NETWORK_HMAC)</string>
	<key>PLTestingNetworkName</key>
	<string>$(TESTING_NETWORK_NAME)</string>
	<key>PLTestingNetworkKey</key>
	<string>$(TESTING_NETWORK_KEY)</string>
	<key>PLTestingNetworkHMAC</key>
	<string>$(TESTING_NETWORK_HMAC)</string>
	<key>PLPlanetaryNetworkName</key>
	<string>$(PLANETARY_NETWORK_NAME)</string>
	<key>PLPlanetaryNetworkKey</key>
	<string>$(PLANETARY_NETWORK_KEY)</string>
	<key>PLPlanetaryNetworkHMAC</key>
	<string>$(PLANETARY_NETWORK_HMAC)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
</dict>
</plist>
