//
//  Shared.debug.xcconfig
//  Planetary
//
//  Created by Martin Dutra on 3/2/20.
//  Copyright © 2020 Verse Communications Inc. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

VERSE_BLOB_TOKEN =

DEFAULT_NETWORK_NAME = SSB
DEFAULT_NETWORK_KEY = 1KHLiKZvAvjbY1ziZEHMXawbCEIM6qwjCDm3VYRan/s=

DEVELOPMENT_NETWORK_NAME = Verse
DEVELOPMENT_NETWORK_KEY = VersVersVmVyc2UgQ29tbXVuaWNhdGlvbnMsIEluYy4=
DEVELOPMENT_NETWORK_HMAC = e1NKw7/hh6xccFvxUc7DQtKKEFoPS2Te4sP+3oQv5AQ=

TESTING_NETWORK_NAME = XXX CI TestNet
TESTING_NETWORK_KEY = AHSrRkNQlQbJP3FyKxvBUI02LI0OdixEl0pYFTUHrMw=
TESTING_NETWORK_HMAC = d8mXyv5OAjxTLnPIAnXUk7TjjALroyfdJn+0RUGHxY4=

PLANETARY_NETWORK_NAME = Planetary
PLANETARY_NETWORK_KEY = ci7xtn85ZYYxGegtWHaSk9LRKtH/PsxmBuVfC0vWYAk=
PLANETARY_NETWORK_HMAC = jKCBtO4iVe/j/4rL65yxIxcMu2X88gcU0iChF7GFLH4=

BETELGEUSE = 34.70.254.88:8008:@LWh8AZgVQSuVneiAZsIRaKoSzTnYVli3SHgBFSMAE6Y=.ed25519~h6g2yBpkmE60GFzZCpRn22nNdT6uWc/2XJHDVf5hERU=
ANTARES = 35.222.87.248:8008:@yFdlC9nYGgBNoPeMl2kC/zimoNnuSp/YFSmYda2SJBY=.ed25519~uRCmJblq0OUzAv7f+oHn0RfB0Ye5s2FhfA0iJzCwPV4=
RIGEL = 35.222.71.220:8008:@6OK6Z0x5hIVR4yHKFjqwMejlfQUDQUTBW513pn4INIM=.ed25519~i43JSVDjotnEWmdh8726piuyYn5gyrtayPqp0VKd2RE=
PLEIADES = 34.68.66.228:8008:@CCX4V0cOscQU4mMz0PbbB7IIJQDcZc1XFCQaQMHUDsI=.ed25519~8CK/Eq6Xi6qKLbjf/a0qEKV6ZKs91ZyLglSHE/J/DDc=
CONSTELLATION = ${BETELGEUSE} ${ANTARES} ${RIGEL} ${PLEIADES}
