//
//  Shared.release.xcconfig
//  Planetary
//
//  Created by Martin Dutra on 3/2/20.
//  Copyright © 2020 Verse Communications Inc. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

AUTHY_TOKEN =

// Optionally add these keys if you want to use ZendeskSupport implementation
// ZENDESK_APP_ID =
// ZENDESK_CLIENT_ID =

PUSH_HOST =
PUSH_TOKEN =
PUSH_ENVIRONMENT = production

PUB_HOST =
PUB_TOKEN =

VERSE_HOST =
VERSE_TOKEN =
VERSE_DIRECTORY_PATH = mainnet-directory
VERSE_BLOB_TOKEN =

DEFAULT_NETWORK_NAME = SSB
DEFAULT_NETWORK_KEY = 1KHLiKZvAvjbY1ziZEHMXawbCEIM6qwjCDm3VYRan/s=

DEVELOPMENT_NETWORK_NAME = Verse
DEVELOPMENT_NETWORK_KEY = VersVersVmVyc2UgQ29tbXVuaWNhdGlvbnMsIEluYy4=
DEVELOPMENT_NETWORK_HMAC = e1NKw7/hh6xccFvxUc7DQtKKEFoPS2Te4sP+3oQv5AQ=

TESTING_NETWORK_NAME = XXX CI TestNet
TESTING_NETWORK_KEY = AHSrRkNQlQbJP3FyKxvBUI02LI0OdixEl0pYFTUHrMw=
TESTING_NETWORK_HMAC = d8mXyv5OAjxTLnPIAnXUk7TjjALroyfdJn+0RUGHxY4=

PLANETARY_NETWORK_NAME = Planetary
PLANETARY_NETWORK_KEY = ci7xtn85ZYYxGegtWHaSk9LRKtH/PsxmBuVfC0vWYAk=
PLANETARY_NETWORK_HMAC = jKCBtO4iVe/j/4rL65yxIxcMu2X88gcU0iChF7GFLH4=
