<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ZNiqemfMJXQkP8I0IzBQd+oKtmZTKE7eZms4oE8v1IU</key>
	<string>&amp;ZNiqemfMJXQkP8I0IzBQd+oKtmZTKE7eZms4oE8v1IU=.sha256</string>
	<key>nUgEy0fWvQfL01KQxiQGIdCCeB+IpEp3IWInoN6kUQEl</key>
	<string>&amp;nUgEy0fWvQfL01KQxiQGIdCCeB+IpEp3IWInoN6kUQE=.sha256</string>
	<key>twn6njiuTZcCGkrob8oGVtbqhCvsG5dvjKwkn </key>
	<string>&amp;twn6njiuTZcCGkrob8oGVtbqhCvsG5dvjKwkn/uRQhQ=.sha256</string>
	<key>R0B11ujhOiAKI6tr5uLgoDksqDvGnOOvdqWaI1FgDLA</key>
	<string>&amp;R0B11ujhOiAKI6tr5uLgoDksqDvGnOOvdqWaI1FgDLA=.sha256</string>
	<key>MMNY+MSgvdtLTrY0h03u9zAkOKJJeUp1AYPlelwyd2g</key>
	<string>&amp;MMNY+MSgvdtLTrY0h03u9zAkOKJJeUp1AYPlelwyd2g=.sha256</string>
	<key>3JUSM4q+aayB6wZtFlHBuVAIY9Rdk2WoK2EUVZhvN5M</key>
	<string>&amp;3JUSM4q+aayB6wZtFlHBuVAIY9Rdk2WoK2EUVZhvN5M=.sha256</string>
	<key>PmrtDJ1COY87pd5JeORal7oLQbBaDyQKuZ+fSM000Ok</key>
	<string>&amp;PmrtDJ1COY87pd5JeORal7oLQbBaDyQKuZ+fSM000Ok=.sha256</string>
	<key>GAgo9EoUVaYpx+5nfIG+8k7x+X+6itvMDpGrlrw9Veo</key>
	<string>&amp;GAgo9EoUVaYpx+5nfIG+8k7x+X+6itvMDpGrlrw9Veo=.sha256</string>
</dict>
</plist>
