name: CI
on:
  pull_request
jobs:
  unit_test:
    name : Unit Tests
    runs-on: macOS-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Install CocoaPods Keys
      run: gem install cocoapods-keys
    - name: Dependencies
      run: pod install --no-repo-update
      env:
        MixpanelAnalyticsToken: nil
        AuthyPhoneVerificationAPIToken: nil
        BugsnagCrashReportingToken: nil
        ZendeskAppID: nil
        ZendeskClientID: nil
        VersePushAPIToken: nil
        VersePubAPIToken: nil
        VerseDirectoryAPIToken: nil
        VerseBlobToken: nil
    - name: Build
      run: set -o pipefail && xcodebuild build-for-testing -workspace Planetary.xcworkspace -scheme UnitTests -destination "platform=iOS Simulator,name=iPhone 11,OS=13.7" | xcpretty
    - name: Test
      run: set -o pipefail && xcodebuild test-without-building -workspace Planetary.xcworkspace -scheme UnitTests -destination "platform=iOS Simulator,name=iPhone 11,OS=13.7" | xcpretty
